In [1]:
import sqlite3

### Connect to database

In [2]:
connection = sqlite3.connect('classroomDB.db')
connection.close()

### Create table

In [6]:
connection = sqlite3.connect('classroomDB.db')

cursor = connection.cursor()

create_table = """
                Create table classroom(
                student_id INTEGER PRIMARY KEY,
                name VARCHAR(20),
                gender VARCHAR(20),
                physics_marks INTEGER,
                chemistry_marks INTEGER,
                mathematics_marks INTEGER
                );
"""

cursor.execute(create_table)

connection.commit()

connection.close()

OperationalError: table classroom already exists

In [12]:
classroom_data = [(1, 'Raj', 'M', 70, 84, 92),
                  (2, 'Rashmi', 'M', 87, 69, 93),
                  (3, 'Ayushman', 'M', 65, 83, 90),
                  (4, 'Arjun', 'M', 83, 76, 89),
                 ]
connection = sqlite3.connect('classroomDB.db')

cursor = connection.cursor()

for student in classroom_data:
    insert_statement = """INSERT INTO classroom
                       (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
                       VALUES
                       ({}, "{}", "{}", {}, {}, {});
                       """.format(student[0], student[1], student[2], student[3], student[4], student[5])
    cursor.execute(insert_statement)

connection.commit()
    
connection.close()

IntegrityError: UNIQUE constraint failed: classroom.student_id

In [13]:
connection  = sqlite3.connect('classroomDB.db')

cursor = connection.cursor()

query = "SELECT * FROM classroom"

cursor.execute(query)

results = cursor.fetchall()

for row in results:
    print(row)

connection.commit()

connection.close()

(1, 'Raj', 'M', 70, 84, 92)
(2, 'Rashmi', 'M', 87, 69, 93)
(3, 'Ayushman', 'M', 65, 83, 90)
(4, 'Arjun', 'M', 83, 76, 89)